.places {
  margin: 0 auto;
  padding: 92px 0 0;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 800px) {
  .places {
    padding: 88px 0 0;
    row-gap: 73px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 64px 0 0;
    row-gap: 50px;
  }
}
