.header__logo {
  margin: 0;
  padding: 28px 0 0;
  width: 176px;
  height: 52px;
  background-image: url("../../../images/header-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 28px;
}
