.lead__image {
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 986px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
  }
}
