.cover {
  position: relative;
  margin: 0;
  padding: 92px 48px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 90px 0 88px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    padding: 66px 0 64px;
  }
}
