.lead__caption {
  margin: 0 auto;
  padding: 8px 148px 0;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: 0.0938rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .lead__caption {
    padding-left: 16px;
  }
}
