.cover__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  z-index: 1;
  max-width: 560px;
}

@media screen and (max-width: 638px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
